<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cifrador</title>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<style>
    textarea {
        height:500px;
        text-align: justify;
    }
</style>
</head>
<body>
<nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Cifrado Asimetrico</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Registro Usuarios</a></li>
            <li><a href="/validate">Validacion Usuarios <span class="new badge">{{2}}</span></a></li>
          </ul>
        </div>
</nav>
<div class="container">
    <h1> Llaves generadas </h1>
    <div id="private">
        <p> Descarga tu llave privada en un lugar seguro.</p>
        <p> Descarga o Copia el siguiente texto en un archivo.</p>
        <div id="box">
            <p>Privada: </p>
            <textarea class="content" height="200">
                {{private}}
            </textarea>
            <p> Publica: </p>
            <textarea class="content">
                {{public}}
            </textarea>
        </div>
    </div>
</div>
</body>
</html>  