<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cifrador</title>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    
<nav>
    <div class="nav-wrapper">
      <a href="" class="brand-logo">Cifrado Asimetrico</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Registro Usuarios</a></li>
        <li><a href="/users">Lista Usuarios</a></li>
        <li><a href="/validate">Validacion Usuarios <span class="new badge">{{total}}</span></a></li>
      </ul>
    </div>
  </nav>
<div class="container">
    <h1>Usuarios Registrados</h1>
    <table>
      <tr>
        <th>Usuario</th>
       <th>Public Key</th>
      </tr>
      {% for row in data %}
    <tr>
      <td>{{ row[0]}}</td>
      <td>{{ row[1] }}</td>
    </tr>
  {% endfor %}
    </table>
</div>
<footer>
  <div>
    Autenticador De Usuarios
  </div>
</footer>
</body>
</html>  