<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Cifrador</title>
<script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
<link href="{{ url_for('static', filename='css/materialize.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<style>
    textarea {
        height:500px;
        text-align: justify;
    }
</style>
</head>
<body>
<nav>
        <div class="nav-wrapper">
          <a href="" class="brand-logo">Cifrado Asimetrico</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Registro Usuarios</a></li>
            <li><a href="/validate">Validacion Usuarios <span class="new badge">{{total}}</span></a></li>
          </ul>
        </div>
</nav>
<div class="container">
    <h1> Resultado validación: </h1>
    {% if status == True %}
    <h1>{{mensaje}}</h1>
    {% else %}
    <h1>{{mensaje}}.</h1>
    {% endif %}
</div>
</body>
</html>  